name: Test Artifact

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: test

    env:
      SERVER_ADDRESS: 0.0.0.0:5000

    steps:
      # Check out your code
      - name: Checkout code
        uses: actions/checkout@v2

      # Setup Rust
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Build your Rust Axum API server
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      # Run your Rust Axum API server (assuming it's a binary named "my_server" and it runs in the background)
      - name: Run Axum server
        run: |
          target/release/rust-axum-scaffold &
          echo "Server started"
          sleep 10 # gives the server some time to start
        env:
          SERVER_ADDRESS: $SERVER_ADDRESS
          OPENAPI_SERVER_ADDRESS: $SERVER_ADDRESS
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          AWS_REGION: ${{secrets.AWS_REGION}}

      # Use Schemathesis GitHub Action for API testing
      - name: Run Schemathesis tests
        uses: schemathesis/action@v1
        with:
          schema: "http://$SERVER_ADDRESS/api-docs/openapi.json"

      # Stop your Rust Axum API server (if needed)
      - name: Stop server
        if: always()
        run: pkill my_server || echo "Server already stopped."
